
#news_box {
    width: 18px;
    height: 18px;
    background: #b71c1c;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #b71c1c !important;
}

#news_toolbar .x-button-back{
    color:#b71c1c !important;
}
#news_toolbar .x-button.x-button-back:before{
    color:#b71c1c !important;
}
#news_toolbar .x-innerhtml{
    color:#b71c1c !important;
    font-size: 1.1em !important;
}
#news_toolbar .x-button-label{
    font-weight: bold !important;
}


#tweeter_box {
    width: 18px;
    height: 18px;
    background: #4099ff;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #4099ff !important;
}
#tweetIconid{
    width: 33px;
    height: 33px;
    float: right !important;
    position: absolute;
    right: 5px;
    top: 7px;
}
#tweeter_toolbar .x-button-back{
    color:#4099ff !important;
}
#tweeter_toolbar .x-button.x-button-back:before{
    color:#4099ff !important;
}
#tweeter_toolbar .x-innerhtml{
    color:#4099ff !important;
    font-size: 1.1em !important;
}
#tweeter_toolbar .x-button-label{
    font-weight: bold !important;
}

p { font-family: 'RobotoCondensed-Regular' }

.tweeter_image{
    float:left;
    width 50px;
    margin-right: 10px;
}

{
    margin-left: 10px;
}
strong{
    font-weight: bold;
}
a{
    font-size: 1em;
    text-decoration: none !important;
}
.date_right{
    float: right
}
.tweet_grs{
    font-size: 1em;
    color: #94a8c0 !important;
}
{
    width 100%;
}
img{
    border: 1px solid #ffa500 !important;
    padding: 3px !important;
    margin: 3px !important;
    width 100px;
    border-radius: 4px !important;
}
a{
    border: none;
}


#events_box{
    width: 18px;
    height: 18px;
    background: #009640;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #009640 !important;
}
#events_toolbar .x-button-back{
    color:#009640 !important;
}
#events_toolbar .x-button.x-button-back:before{
    color:#009640 !important;
}
#events_toolbar .x-innerhtml{
    color:#009640 !important;
    font-size: 1.1em !important;
}
#events_toolbar .x-button-label{
    font-weight: bold !important;
}


_box{
    width: 18px;
    height: 18px;
    background: #f39200;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #f39200 !important;
}
_toolbar .x-button-back{
    color:#f39200 !important;
}
_toolbar .x-button.x-button-back:before{
    color:#f39200 !important;
}
_toolbar .x-innerhtml{
    color:#f39200 !important;
    font-size: 1.1em !important;
}
_toolbar .x-button-label{
    font-weight: bold !important;
}


table{
    width: 100% !important;
    font-size: 1em;
    padding: 4px 10px 4px 5px !important;
}

thead tr th,  table thead tr th{
    background-color: #f39200;
    font-weight: bold !important;
    padding: 10px 4px !important;
    color: #fff;
    font-size: 1.2em !important;
}

td,  table td{
    padding: 5px 10px 5px 5px !important;
    text-align: left;
    color: #676767;
}
table strong{
    font-weight: bold !important;
}

a{
    color: #c17400 !important;
     text-decoration: underline !important;
}



#video_box{
    width: 18px;
    height: 18px;
    background: #3f51b5;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #3f51b5 !important;
}
#videoIconid{
    height: 25px;
    float: right !important;
    position: absolute;
    right: 5px;
    top: 10px;
}
#video_toolbar .x-button-back{
    color:#3f51b5 !important;
}
#video_toolbar .x-button.x-button-back:before{
    color:#3f51b5 !important;
}
#video_toolbar .x-innerhtml{
    color:#3f51b5 !important;
    font-size: 1.1em !important;
}
#about_toolbar .x-button-label{
    font-weight: bold !important;
}


#about_box{
    width: 18px;
    height: 18px;
    background: #37474f;
    float: left !important;
    position: absolute;
    left: 5px;
    top: 15px;
    color: #37474f !important;
}

#about_toolbar .x-button-back{
    color:#37474f !important;
}
#about_toolbar .x-button.x-button-back:before{
    color:#37474f !important;
}
#about_toolbar .x-innerhtml, #contact_toolbar .x-innerhtml, #map_toolbar .x-innerhtml{
    color:#37474f !important;
    font-size: 1.1em !important;
}
#about_toolbar .x-button-label, #contact_toolbar .x-innerhtml, #map_toolbar .x-innerhtml{
    font-weight: bold !important;
}


.content-list span, .content-list label{
    font-size: 0.8em;
    padding: 5px 0px 10px 0px;
    color: #4a617d;
}

.content-list h2{
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 0px;
    color: #4a617d;
}
.content-list p{
    font-size: 0.8em;
    padding: 5px 0px 10px 0px;
    color: #4a617d;
}
.content-list label{
    font-weight: bold;
}
.content-list iframe{
    height:350px;
    width: 98%;
    margin: 5px 0px;
}

.content-detail span, .content-detail label{
    font-size: 0.8em;
    padding: 5px 0px 10px 0px;
    color: #4a617d;
}
.content-detail label{
    font-weight: bold;
}

.content-detail h2{
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0px;
    color: #4a617d;
}
.content-detail p{
    font-size: 1em;
    padding: 5px 0px 10px 0px;
    color: #4a617d;
}

.content-list a, .content-detail a{
    color: #b51212;
}


p:first-child
{
    padding: 30px 0 15px 0;
}

p
{
    color: #4a617d;
}

th
{
    text-align: left;
}

.app_nofollow {
    pointer-events: none;
    cursor: default;
    text-decoration: none; 
}
