

a {color: #D41D0E;}

img { border: 1px solid black; padding: 3px 3px 3px 3px; max-width: 100%; margin: 3px 3px 3px 3px; }

p { font-family: 'RobotoCondensed-Regular' }

h1,h2,h3,h4,h5,h7 { font-family: 'RobotoCondensed-Regular'; }

.app_nofollow { pointer-events: none; cursor: default; text-decoration: none;  }